<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="/styles/cards.css">
</head>
<body>
    <header>
        <a href="/templates/index.html" class="back-button">Voltar ao Início</a>
    </header>
    <main class="cards">
        <section class="card">
        <div class="icon">
            <img src="/static/components/fonts/images/medroso cat.jpg" alt="Bolinha"> 
        </div>
        <h3>gato bolinha</h3>
        <span>clique e conheça a história de bolinha</span>
        <a href="/templates/bolinha.html"><button>Learn More</button></a>
        </section>
        <section class="card">
            <div class="icon">
                <img src="/static/components/fonts/images/gatopreso.jpg" alt="Roberto"> 
            </div>
            <h3>gato roberto</h3>
            <span>clique e conheça a história de roberto</span>
            <a href="/templates/roberto.html"><button>Learn More</button></a>
        </section>
        <section class="card">
            <div class="icon">
                <div class="circle"></div>
                <img src="/static/components/fonts/images/ted.jpg" alt="ted"> 
            </div>
            <h3>gato ted</h3>
            <span>clique e conheça a história de ted</span>
            <a href="/templates/ted.html"><button>Learn More</button></a>
        </section>

    </main>
</body>
</html>