<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/styles/part1.css" rel="stylesheet">
   <title>Cats space</title>
</head>
<body>
   <section>
        <div class="circle"></div>
        <header>
             <a href="#">><img src="/static/components/fonts/images/logo.jpg" alt="logo"class="logo"></a>
             <nav class="navegation">
                <ul>
                    <li><a href="/templates/landing_page.html">login</a></li>
                    <li><a href="/templates/servidor.html">nosso servidor</a></li>
                    <li><a href="/templates/sobre.html">sobre</a></li>
                  </ul>  
               </nav>
            </header>
            <div class="container">
                <div class="text">
                    <h2>CATS FLY<br> <span>IN SPACE!</span></h2>
                    <p>Gatos a bordo de naves espaciais, desafiando a gravidade com suas patas flutuantes, conquistam o cosmos com elegância felina. Observam estrelas e planetas com olhos curiosos, deixando pegadas gravadas na imensidão sideral. Miaus ecoam no vácuo, enquanto os felinos, audaciosos astronautas, provam que o espaço também é território felino.</p>
                    <a href="/templates/cards.html">Histórias dos gatinhos astronautas</a>
                    </div>
             </section> 
        </body>
 </html>