<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
    <link href="/styles/loginpage.css" rel="stylesheet">
</head>
<body>
    <header>
        <div id="title">
        <h1>Cats In</h1>
        <h1>space</h1>
        </div>

        <ul>
            <a href="./index.html"><li>Início</li></a>
        </ul>
    </header>
    <main>
        <aside>
            <h2>Inscreva-se</h2>
            <h2><span>em cats in space</span></h2>
            <p>
                "Gatos no espaço exploram astros, flutuam com destreza e surpreendem na gravidade zero. Embarque em Cats in Space e divirta-se com suas aventuras cósmicas!"   
            </p>
            <form>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome"><br><br>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email"><br><br>
                <input type="submit" value="Enviar">

            </form>
        </aside>
        <article>
            <img src="/static/components/fonts/images/logo.jpg" alt="gatospace">
        </article>
    </main>
</body>
</html>