<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/styles/bolinha.css" rel="stylesheet">
   <title>Roberto</title>
</head>
<body>
   <section>
        <div class="circle"></div>
        <header>
             <a href="#"><img src="/static/components/fonts/images/gatopreso.jpg" alt="logo" class="logo"></a>
             <nav class="navegation">
               </nav>
            </header>
            <div class="container">
                <div class="text">
                <h2>Gato Roberto</h2>
                <p>Em uma cidadezinha pacata, vivia um gato chamado Roberto. Ele era um gato curioso e aventureiro, sempre explorando cada canto e recanto do seu bairro. Sua pelagem era laranja no tom de cerveja, e seus olhos verdes brilhavam com uma inteligência incomum.</p>
                <p>Um dia, a cidade ficou em choque quando um roubo aconteceu na famosa Galeria de Arte do centro. Uma valiosa pintura havia sido roubada durante a noite, e as autoridades estavam desesperadas para encontrar o ladrão. Infelizmente, Roberto estava no lugar errado na hora errada. Ele costumava vagar pelos becos próximos à galeria, e nessa noite, acabou sendo visto pelas câmeras de segurança nas proximidades.</p>
                <p>As evidências circunstanciais levaram as autoridades a acreditar que Roberto poderia estar envolvido no roubo. Ele foi preso por engano, e o pobre gato se viu atrás das grades, sem entender como tinha ido parar nessa situação, pobre roberto chorava todas as noites.</p>
                <p>Até que um dia na prisão, Roberto mostrou sua natureza destemida e inteligente. Ele observava os movimentos dos guardas e dos prisioneiros, aprendendo com cada detalhe. Com sua agilidade felina, ele logo conseguiu escapar da cela e começou a investigar por conta própria.</p>
                <p>Enquanto explorava os arredores, Roberto encontrou evidências que apontavam para outro suspeito que poderia estar envolvido no roubo da pintura. Ele reuniu pistas e provas improvisadas, criando uma narrativa convincente que apontava para um criminoso conhecido por seus roubos de arte em várias cidades.</p>
                <p>Usando sua esperteza e a ajuda de alguns prisioneiros amigáveis, Roberto enviou suas descobertas para as autoridades. O verdadeiro ladrão foi identificado e preso, e as acusações contra Roberto foram retiradas. A cidade finalmente percebeu que o gato não era o culpado e agradeceram-lhe por sua coragem e determinação.</p>
                <p>A experiência na prisão transformou Roberto de uma maneira inesperada. Ele percebeu que tinha um amor ardente por desvendar mistérios e buscar a verdade. Sua nova paixão o levou a seguir um caminho inusitado: tornar-se um astronauta.</p>
                <p>Com sua inteligência e determinação, Roberto estudou intensamente e se preparou para as missões espaciais. Ele superou desafios e provações, provando que sua coragem não tinha limites. Finalmente, o dia chegou em que Roberto se viu diante do cosmos, flutuando no espaço sideral.</p>
                <p>O gato que um dia foi preso por engano agora era um astronauta corajoso, explorando as estrelas e galáxias desconhecidas. Ele olhava para a Terra de cima, lembrando-se de sua jornada de superação e realização.</p>
                <p>A história de Roberto se espalhou como um conto inspirador de perseverança e determinação. Ele se tornou um símbolo de como a verdadeira coragem pode surgir das circunstâncias mais difíceis. E, enquanto ele flutuava pelo espaço, Roberto sabia que sua jornada era apenas o começo de um novo capítulo emocionante e cheio de descobertas.</p>
                <a href="/templates/cards.html" class="button">Voltar</a>
                </div>
             </div>
        </section> 
    </body>
</html>