<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/styles/servidor.css" rel="stylesheet">
   <title>Sobre o Cats Space</title>
</head>
<body>
   <section>
        <div class="circle"></div>
        <header>
             <a href="#"><img src="/static/components/fonts/images/logo.jpg" alt="logo" class="logo"></a>
             <nav class="navegation">
               </nav>
            </header>
            <div class="container">
                <div class="text">
                    <h2>Serv Cats in Space</h2>
                    <p>A nossa comunidade Discord "Cats In Space Stories" reúne os entusiastas das adoráveis histórias dos gatos Bolinha, Roberto e Ted. Aqui, os membros podem compartilhar, colaborar e expandir as narrativas dos nossos queridos personagens. Além disso, estamos desenvolvendo ideias empolgantes para um jogo envolvendo gatos astronautas. Junte-se a nós para criar, debater, celebrar e conectar-se com outros criativos apaixonados pelo nosso universo. Seja parte ativa da nossa comunidade, contribua com ideias inovadoras e celebre a magia das histórias cósmicas dos nossos gatos astronautas!</p>

                    <a href="/templates/index.html" class="button">Inicío</a>
                    <a href="https://discord.gg/NrtzdXWZ" class="button">Discord</a>
                    

                </div>
             </div>
        </section> 
    </body>
</html>
