<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/styles/sobre.css" rel="stylesheet">
   <title>Sobre o Cats Space</title>
</head>
<body>
   <section>
        <div class="circle"></div>
        <header>
             <a href="#"><img src="/static/components/fonts/images/logo.jpg" alt="logo" class="logo"></a>
             <nav class="navegation">
               </nav>
            </header>
            <div class="container">
                <div class="text">
                    <h2>Sobre o Cats Space</h2>
                    <p>Conheça as incríveis histórias de três gatos que tiveram vidas comuns, mas que, por um destino surpreendente, se tornaram ousados astronautas exploradores do espaço sideral.</p>
                    <p>Imagine gatos desafiando a gravidade, flutuando delicadamente a bordo de naves espaciais, observando estrelas e planetas com olhos cheios de admiração. Cada um dos nossos felinos astronautas tem sua própria história única e cativante.</p>
                    <p>Essas histórias de coragem e determinação são repletas de aventuras intergalácticas, descobertas fascinantes e amizades inesperadas. Navegue pelo nosso site e mergulhe na incrível jornada desses gatos espaciais que mostram que não há limites para a imaginação e a exploração.</p>
                    <a href="/templates/index.html" class="button">Inicío</a>
                </div>
             </div>
        </section> 
    </body>
</html>
