<!DOCTYPE html>
<html lang="pt-BR">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/styles/ted.css" rel="stylesheet">
   <title>Ted</title>
</head>
<body>
   <section>
        <div class="circle"></div>
        <header>
             <a href="#"><img src="/static/components/fonts/images/ted.jpg" alt="logo" class="logo"></a>
             <nav class="navegation">
               </nav>
            </header>
            <div class="container">
                <div class="text">
                <h2>Gato Ted</h2>
                <p>Em uma metrópole agitada, vivia um gato laranja chamado Ted. Ele tinha uma pelagem brilhante e olhos expressivos que transmitiam inteligência e travessura. Ted era conhecido por sua atitude destemida e carisma cativante, mas nem sempre foi assim.</p>
                <p>Na juventude, Ted seguiu um caminho duvidoso e se envolveu com gatos de má reputação, formando uma gangue de gatos travessos que costumavam causar problemas pela cidade. Ele adotou uma persona de "gato policial malvado", enganando os outros com suas brincadeiras desobedientes. Com suas artimanhas, ele muitas vezes deixava os humanos confusos e frustrados.</p>
                <p>Um dia, enquanto estava se esgueirando por um beco, Ted viu uma cena que mudaria sua vida para sempre. Ele testemunhou o resgate heroico de um gatinho indefeso preso em uma árvore. A equipe de resgate era composta por astronautas da Agência Espacial Felina, um grupo de gatos corajosos que exploravam o espaço e realizavam missões especiais.</p>
                <p>Inspirado por esse ato de heroísmo, algo dentro de Ted mudou. Ele percebeu que estava desperdiçando suas habilidades em travessuras baratas quando poderia estar fazendo a diferença de maneira positiva. Decidido a mudar sua vida, Ted se afastou de sua vida de crime felino e decidiu se juntar à Agência Espacial Felina.</p>
                <p>A transição não foi fácil. Ted precisou passar por um rigoroso treinamento para se tornar um astronauta. Ele estava determinado a provar sua dedicação e, com sua inteligência e personalidade engraçada, logo conquistou o respeito de seus colegas astronautas. Embora sua transformação de policial malvado a astronauta engraçado tenha sido surpreendente, Ted mostrou que sua mudança de coração era genuína.</p>
                <p>Ted embarcou em missões emocionantes pelo espaço, usando suas habilidades únicas para resolver problemas e trazer alegria a todos ao seu redor. Ele trouxe um toque de diversão para as viagens espaciais, fazendo todos rirem com suas brincadeiras inesperadas e piadas engenhosas.</p>
                <p>Com o tempo, a história de Ted se espalhou, tornando-se um exemplo inspirador de redenção e transformação. Ele era agora um gato que aproveitava a vida ao máximo, explorando o cosmos com sua tripulação de astronautas e trazendo sorrisos a todas as espécies com sua personalidade vibrante.</p>
                <p>Ted, o ex-policial malvado que se tornou um astronauta bom e engraçado, continuou sua jornada através das estrelas, provando que, independentemente de onde começamos, sempre podemos encontrar nosso caminho para um futuro brilhante e cheio de possibilidades.</p>
                 <a href="/templates/cards.html" class="button">Voltar</a>
                </div>
             </div>
        </section> 
    </body>
</html>