@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
body{
    background: #000000;
    color: #ffffff;
    font-family: 'Bad Script', cursive;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#title{
    flex-direction: column;
    line-height: 10px;
    justify-content: left;
}
h1{
    font-weight: 200;
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    line-height: 10px;
}
span{
    color: #051d7c;
}
p{
    line-height: 25px;
    max-width: 600px;
}
img{
    width: 380px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form [type="submit"]:hover{
    height: 50px;
    width: 50%;
    background-color: #051d7c;
    color: #ffffff;
    cursor: pointer;
}
form [type="submit"]{
    height: 50px;
    width: 40%;
    background-color: #051d7c;
    color: #ffffff;
}
input{
    margin-top: 10px;
    height: 10px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
  li{
    display: inline-block;  
    margin-top: 50px;
    padding: 10px 25px;
    background: #051d7c;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3 ease-in-out;
  }
 li:hover {
   transform: translateY(-10px);
  }
  

  
  